.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border-top: 1px solid #b6b6b6;
    background-color: rgba(246,246,246,0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
} 
.bottom-bar .bottom-item{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: .8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #999;
}
.bottom-bar .item-icon{
    margin-bottom: .2rem;
    width: 1.25rem;
    height: 1.25rem;
}
.bottom-item.index .item-icon{
    background: url(../img/homeIcon.png) center/cover;
}
.bottom-item.order .item-icon{
    background: url(../img/orderIcon.png) center/cover;
}
.bottom-item.profile .item-icon{
    background: url(../img/myIcon.png) center/cover;
}
/* style for active bottom item */
.bottom-item.bottom-active{
    color: #000;
}
.bottom-active.index .item-icon{
    background: url(../img/homeIconActive.png) center/cover;
}
.bottom-active.order .item-icon{
    background: url(../img/orderIconActive.png) center/cover;
}
.bottom-active.profile .item-icon{
    background: url(../img/myIconActive.png) center/cover;
}